# Node modules
node_modules/

# Build outputs
dist/
build/
out/
.test-dist/

# Environment files
.env

# Logs
*.log
logs/

# IDEs and editors
.vscode/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# Caches
.cache/
parcel-cache/

# Package artifacts
*.tgz

# Prisma
/src/generated/prisma

# Models
/models/
